.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo {
  display: "flex";
  align-items: "center";
}

.btn {
  margin: 0.25rem;
  border: 1px solid #ffffff;
}

.btn:hover {
  border: 1px solid #000000;
  background-color: #ffffff;
}

.btn-submit {
  height: 1.75rem;
}

.btn-delete {
  font-weight: 700;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  background-color: rgb(158, 24, 24);
}

.input {
  cursor: pointer;
  height: 18px;
  width: 18px;
  border-radius: 10%;
  background-color: #eee;
}
